/* body {
  background: #0f9fde;
} */

/* .search-list {
 position: absolute;
  max-width: 800px;
  margin: auto;    
  background-color: violet;
} */
#search-list h2 {
  color: #fff;
}
.search-list input {
  line-height: 2;
  font-size: 18px;
  height: auto;
  padding-left: 20px;
} 

.search-list ul {
  margin: 0;
}
.search-list ul li {
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  line-height: 2;
  font-size: 140px;
  padding: 5px 20px;
  background: white;
}
.search-list ul li span {
  display: block;
  font-size: 12px;
  color: #666;
}
.search-list ul li h6 {
  color: darkblue;
  margin-bottom: 5px;
}
.searchbar{


  background-color:white;
  border-radius: 30px;
display: flex;
  align-items: center;
 
}
.searchIcon
{
  font-size: 20px !important;
  margin-left: 10px;

}
.searchInput
{
 border:none; 
   width:auto;
   
} 
.searchInput:focus
{
outline: none;
}
.dropdownwrapper ul li{
  display: flex;


  justify-content:space-between;
  border-style: outset;
  list-style: none !important;
}
.dropdown-wrapper 
{
  position: absolute;
  flex-direction: column;
  text-transform: capitalize;
  margin: -19px -111px 0px;
} 
#searchBar
{

    text-align: center;


    margin: auto;
    height: 30px;
    border-radius: 30px;
 

   
} 
.dropdownSearchbar {
    text-align: center;
 
    height: 40px;
 
  
    
  

}
/* 
Text search in React 16 using Hooks */
/* @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700,900);
*, */
/* h1 {
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  font-size: 10px;
} */

/* html,
body {

  position: relative;
} */

/* html {
  border: 15px solid black;
} */

/* h1 {
  margin: 0px;
  padding: 10px;
  color: #333333;
  font-size: 26px;
  background: #dddddd;
  border-bottom: 1px solid #cccccc;
  font-weight: 700;
} */

.selected-item,
pre {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #000;
  background: #222;
  font-size: 16px;
  word-wrap: break-word;
  margin: 20px auto;
  color: #ccc;
  border-radius: 3px;
}
.selected-item > .title,
pre > .title {
  background: #111;
  color: #da4551;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}
.selected-item > .content,
pre > .content {
  line-height: 1.6;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}

/* form {
  margin: 10px auto;
  width: 95%;
  min-height: 100%;
} */
form .form-input {
  position: relative;
  margin: 15px auto;
}
form .form-input label {
  font-size: 16px;
}
form .form-input .input {
  position: relative;
}
form .form-input .validation {
  display: none;
}
form .form-input .text-box {
  display: flex;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 5px 0;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  transition: all 300ms ease-in-out;
}
form .form-input .text-box-small {
  width: 30%;
}
form .form-input.form-error .validation {
  display: block;
  background: #ff3300;
  color: white;
  position: absolute;
  right: 8px;
  top: 9px;
  border-radius: 3px;
  padding: 3px 8px;
}
form .form-input.form-error .text-box {
  border-color: #ff3300;
}
form button {
  border: none;
  background: #42afe3;
  color: white;
  padding: 10px 22px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border: 3px solid #42afe3;
  font-size: 14px;
  cursor: pointer;
}
form button:disabled {
  opacity: 0.5;
}
form button:hover:enabled {
  background: white;
  color: #42afe3;
  border: 3px solid #42afe3;
}

.full-screen-search {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 50px;
  color: white;
  overflow-y: auto;
}
.full-screen-search .close-button {
  position: absolute;
  right: 30px;
  background: none;
  border-radius: 9999px;
  padding: 10px 18px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  border: 0;
}
.full-screen-search .close-button:hover {
  border: none;
  background: #fff;
  color: #000;
}
.full-screen-search label {
  font-size: 30px;
}
.full-screen-search input[type=text] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0;
  width: 100%;
  margin: 25px 0;
  font-size: 40px;
  letter-spacing: 1px;
  padding-left: 0;
  color: white;
  outline: none;
}

.search-results {

  background-color:brown;
  padding: 2px
}
.search-results li {
  padding: 1rem;
  margin: 2px 0;
  list-style: none;

  font-weight: 700;
  background-color: #ddd;
  cursor: pointer;
}
.search-results li.highlight, .search-results li:hover {
  background-color: #bbb;
}

.selected-item {
  background: rgba(255, 192, 203, 0.3);
  border-color: pink;
}
.selected-item > .title {
  background: rgba(255, 192, 203, 0.5);
  border-bottom-color: pink;
  color: #c51c6a;
}
.selected-item > .content {
  color: #c51c6a;
  font-weight: 800;
  font-size: 3rem;
}
/*/*/
.modal {

    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    min-height: 24vh;

    border-radius: 2rem;
    padding: 13px 2rem;
    z-index: 30;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
right: 0;
}

.modal__content {
    text-align: center;
    font-weight: 500;
    margin: 3rem auto;
}

.modal__footer {
    padding: 0;
}

/* @media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
} */

.modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
}

.modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
}

.modal-exit {
    transform: translateY(0);
    opacity: 1;
}

.modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
}
.modal-overlay {
    /* position: fixed; */
    top: 0;
    left: 0;
    /* width: 100vw; */
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;

  min-height: 22vh;


  border-radius: 2rem;
  padding: 0 2rem;
  z-index: 30;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    
  }

  /* .modal {
    z-index: 100;
    background: #fff;
    position: relative;
    margin: auto;
    border-radius: 5px;
    max-width: 500px;
    width: 80%;
    padding: 1rem;
  } */

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    border: none;
    background: transparent;
  }
/*/


/*/*************************************************************************************************************/
/* .modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  width: 70%;
  min-height: 22vh;
  top: 22vh;
  left: 10%;
  border-radius: 2rem;
  padding: 0 2rem;
  z-index: 30;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
} */

.modal__content {
  text-align: center;
  font-weight: 500;
  margin: 3rem auto;
}

.modal__footer {
  padding: 0;
}

/* @media (min-width: 768px) {
  .modal {
      left: calc(50% - 20rem);
      width: 40rem;
  }
} */

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
.modal-overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  /* width: 100vw; */
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
}



/* .modal {
  z-index: 100;
  background: #fff;
  position: relative;
  margin: auto;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  padding: 1rem;
} */

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}
/*****************************/


/* #search-list {
  padding: 60px;
  max-width: 800px;
  margin: auto;
} */
#search-list h2 {
  color: #fff;
}
#search-list input {
  line-height: 2;
  font-size: 18px;
  height: auto;
  padding-left: 20px;
}
#search-list ul {
  margin: 0;
  background-color: hotpink;
}
/* #search-list ul li {
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  line-height: 2;
  font-size: 140px;
  padding: 5px 20px;
  background: white;
} */
#search-list ul li span {
  display: block;
  font-size: 12px;
  color: #666;
}
#search-list ul li h6 {
  color: darkblue;
  margin-bottom: 5px;
}